

body{
  margin: 0px;
  background-color: #d6d5d5;
  font-family: sans-serif;

}

/* header */

header{
  display: flex;
  justify-content: space-between;
  background-color: blue;
  color: white;
  align-items: center;
  padding: 0px 6%;
}

header ul{
  display: flex;
gap: 20px;
}



/* product  ssection*/
.product-section{
margin-top: 30px;
display: flex;
/* justify-content: center; */
flex-direction: column;
align-items: center;}



.product{
  display: flex;
  background-color: white;
  width: 70%;
  height: 80px;
  max-width: 800px;
  padding:  20px 2% 15px;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 0px black;
}

.product h5{
margin: 0px;
  font-size: 20px;
  text-transform: capitalize;
}

.product p{
  margin: 0px;
  font-size: 15px;
  color: #3a3a3a;
  margin-top: 5px;
  }


  button{
    color: white;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    text-transform: capitalize;
    margin-bottom: 10px;

  }
  .approved{
    background-color: green;

  }

  .unapproved{
    background-color: red;

  }

  .pending{
    background-color: rgb(101, 101, 101);
  }
  

  .view-product{
    height: 300px;
margin: auto;
margin-top: 50px;
  }